@import "../constants";

.FolderCard {
  display: flex;
  align-items: center;
  column-gap: 20px;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid $theme-border;
  min-width: 280px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transform: scale(1.08);
  }

  .icon__wrap {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $theme-light-black;
    img {
      width: 19px;
      height: 19px;
    }
  }
  .text__wrap {
    .title {
      font-size: 14px;
      line-height: 18px;
      font-weight: 500;
      color: $text-600;
    }
    .text {
      font-size: 12px;
      line-height: 16px;
      font-weight: 400;
      color: $text-300;
    }
  }
}
