$theme-light-black: #00000028;
$theme-black: #2e3031;
$theme-white: #ffffff;
$theme-border: #EFF0F0;
$theme-gary: #dfe1e2;
$theme-light-blue:#F2F5F7;
$theme-light-gray: #f2f2f3;
$text-400: #6f7376;
$text-300: #96999c;
$text-600: #2e3031;
$text-500: #5e6164;
